button {
    border: none;
    background: rgb(172, 168, 168);
    padding: 6px;
    border-radius: 3px;
    margin: 5px;
    }
    button:hover {
    background: #63aeec;
    color: white;
    }

.main-table9  {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
}

.main-table-cardHolder9 {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: left; 
}


.parent {
   height: 600px;
   position: relative;
  }


  .cardTop {

   position: absolute;
   top: 0%;
   left: 34%;
   z-index: 3;
  }
  .cardBottom {

    position: absolute;
    top: 40%;
    left: 34%;
    z-index: 4;
  }

  .cardLeft {

    position: absolute;
    transform: rotate(90deg);
    top: 20%;
    left: 15%;
    z-index: 3;
  }

  .cardRight {
 
    position: absolute;
    transform: rotate(270deg);
    top: 20%;
    right: 15%;
    z-index: 3;
  }