<div>
    <div class="main-table">
        
        <ul class="main-table-cardHolder">
            
                <app-playing-card *ngFor="let playCard of displayCard" [playCardInput]="playCard"></app-playing-card>
           
        </ul>

        <div class="main-table-buttons">
        <button [disabled]="pickNextCardsIsDisabled" (click)="pickNextCards()">Next Cards {{appendCounterToPickBtn}}</button>
        <button (click)="generate()">Generate</button>
        <button (click)="changeShownNumber()">No {{numberBtnAppend}}</button>
        <button >{{counterSec}} sec</button>
        </div>
    </div>


</div>
